[submodule "src/pocketmine/lang/locale"]
	path = src/pocketmine/lang/locale
	url = https://github.com/pmmp/PocketMine-Language.git
[submodule "src/pocketmine/resources/vanilla"]
	path = src/pocketmine/resources/vanilla
	url = https://github.com/pmmp/BedrockData.git
