[submodule "src/pocketmine/lang/locale"]
	path = resources/locale
	url = https://github.com/pmmp/PocketMine-Language.git
[submodule "tests/preprocessor"]
	path = tests/preprocessor
	url = https://github.com/pmmp/preprocessor.git
[submodule "src/pocketmine/resources/vanilla"]
	path = resources/vanilla
	url = https://github.com/pmmp/BedrockData.git
